<!-- <h1 [textContent]="author"></h1>
<ul>
  <li *ngFor="let course of courses">{{ course }}</li>
</ul>
`
<section [style.margin]="10">
  <button
    [style.backgroundColor]="isActive ? 'blue' : 'white'"
    (click)="onSave()"
  >
    Save
  </button>
</section>

<section [style.margin]="10" (click)="affectedByEventBubbling($event)">
  <button class="btn btn-primary" (click)="checkingEvent($event)">event</button>
</section> -->

<!-- <section>
  <p>event filtering traditional way</p>
  <input type="text" (keyup)="traditionalEventFiltering($event)" />
</section>

<section>
  <p>Angular event filtering feature</p>
  <input type="text" (keyup.enter)="angularEventFiltering()" />
</section> -->

<!-- <section>
  <h1>Template variables - 2 ways to get input field values</h1>
  <section>
    <p>Traditional way via event object</p>
    <input type="text" (keyup)="traditionallyHandleInput($event)" />
  </section>

  <section>
    <p>Angular way via #inputName</p>
    <input type="text" #name (keyup.enter)="angularHandleInput(name.value)" />
  </section>
</section> -->

<!-- [(ngModel)]="author",  this is angular syntax for two way binding -->
<!-- <section>
  <h1>1-way binding & 2-way binding</h1>
  <section>
    <p>One way binding</p>
    <h4>Author name:</h4>
    <input type="text" [value]="author" (keyup.enter)="oneWayBinding()" />
  </section>

  <section>
    <p>Two way binding</p>
    <h4>Author name:</h4>
    <input [(ngModel)]="author" (keyup.enter)="twoWayBinding()" />
  </section>
</section> -->

<section>
  <h1>Pipes is used to format data</h1>
  <p>
    {{ subject.title | uppercase }}
  </p>
  <p>
    {{ subject.students | number }}
  </p>
  <p>
    {{ subject.price | currency : "PKR" : true : "1.2-4" }}
  </p>
  <p>
    {{ subject.startingDate | date : "shortDate" }}
  </p>

  <p>
    Custom pipes:
    {{ subject.history | summary : 10 }}
  </p>
</section>
