<!-- <h1 [textContent]="author"></h1>
<ul>
  <li *ngFor="let course of courses">{{ course }}</li>
</ul>
`
<section [style.margin]="10">
  <button
    [style.backgroundColor]="isActive ? 'blue' : 'white'"
    (click)="onSave()"
  >
    Save
  </button>
</section>

<section [style.margin]="10" (click)="affectedByEventBubbling($event)">
  <button class="btn btn-primary" (click)="checkingEvent($event)">event</button>
</section> -->

<!-- <section>
  <p>event filtering traditional way</p>
  <input type="text" (keyup)="traditionalEventFiltering($event)" />
</section>

<section>
  <p>Angular event filtering feature</p>
  <input type="text" (keyup.enter)="angularEventFiltering()" />
</section> -->

<section>
  <h1>Template variables - 2 ways to get input field values</h1>
  <section>
    <p>Traditional way via event object</p>
    <input type="text" (keyup)="traditionallyHandleInput($event)" />
  </section>

  <section>
    <p>Angular way via #inputName</p>
    <input type="text" #name (keyup)="angularHandleInput(name.value)" />
  </section>
</section>
