<!-- <h1>hello angularrrr</h1> -->
<!-- <courses></courses> -->
<!-- <excersices></excersices> -->
<!-- <favorite
  [title]="post.title"
  [isFavorite]="post.isFavorite"
  (change)="onFavoriteChanged($event)"
></favorite> -->

<!-- <bootstrap-pannel>
  <ng-container class="heading">
    <h2>custom heading</h2>
    <p>custom header from host html file</p>
  </ng-container>
  <div class="body">
    <h2>custom body elements</h2>
    <p>custom body from host html file</p>
  </div>
</bootstrap-pannel> -->

<!-- <like
  [likesCount]="tweet.likesCount"
  [isLiked]="tweet.isLiked"
  (change)="changeCounter($event)"
></like> -->

<!-- <directives></directives> -->

<!-- <p>Custom directive - appInputForm</p>
<input type="text" [appInputForm]="'uppercase'" /> -->

<zippy-dropdown title="Shipping Details">
  Shipping Details Content</zippy-dropdown
>

<zippy-dropdown title="Billing Details">
  Billing Details Content</zippy-dropdown
>
